/* PageStyling.css */

body {background-color: white;}

.mainContainer{
    padding-top: 10px;
    padding-right: 200px;
    padding-bottom: 10px;
    padding-left: 200px;
}
.staticContainer{
    border-bottom: 2px solid black;
    margin: 0 auto;
}

.header{
    display: inline-block;
}
#headerForm{
    float: right;
}

#itemsContainer{

    margin: 0 auto;

}


#inputContainer {
    width: 650px;
    padding-top: 20px;
}

.productPages {
    padding-top: 2px;
}
